<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Toy Blog</h1>
        <p class="lead">To combat the spread of COVID-19, Mayor Eric Garcetti issued a “Safer at Home” emergency order on March 19 — ordering all residents of the City of Los Angeles to stay inside their residences, and immediately limit all movement outside of their homes beyond what is absolutely necessary to take care of essential needs.</p>
        <hr class="my-4">
        <p>Feel free to sign up.</p>
        <%= link_to "SIGN UP", signup_path, class: "btn btn-warning btn-lg" %>
    </div>
</div>
